@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins";
  
}

.hero{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:2%;
  
  
}


.container{
  height: 100%;
  margin-left: ;
  display:flex;
  align-items: center;
  
}

.left{
  display:flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  margin: 10%;
  
}

.contact{
  display:flex;
  gap: 2%;
  font-size:15px;
  font-weight:400;
  flex-direction: column;
  
}

.greeting{
  position:absolute;
  font-size:29px;
  font-weight:500;
  box-sizing:border-box;
  padding-bottom:15px;
  
}

.auto-type{
  height:100%;
}

.me{
  font-size:16px;
  font-weight:400;
}

.name{
  color: deepskyblue;
  transition: .3s;
}

@keyframes vibrations {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, 2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0, 0); }
}

.auto-type:hover{
   animation: vibrations 0.4s infinite;
}


.email-link{
  transition:.3s;
  list-style:none;
  text-decoration:none;
  color:inherit;
}

.email-link:hover{
  color: deepskyblue;
}

@media (min-width:540px){
  .me{
    font-size: 19px;
  }
  .container{
    margin-left: 5%;
  }
  
  
}

@media (min-width: 720px){
  .hero{
    width: 60Vw;
  }
  .left{
    gap: 13%;
  }
  .greeting{
    font-size: 25px;
  }
  
}

@media (min-width:810px){
  .contact{
    font-size: 15px;
    flex-direction: row;
  }
  .me{
    font-size: 23px;
  }
}



.about{
  width:100%;
  margin-top:-7%;
  display:flex;
  justify-content:center;
}

.about-container{
  margin-bottom:25px;
}


.background{
  display:flex;
  flex-direction: column;
  margin: 6%
  
}

.about-left{
  margin-bottom: 10%;
  text-align: left;
}

.about-left h2{
  font-weight: 600;
}

.about-right{
  margin-bottom:10px ;
}

.about-right p{
  font-size: 85%;
  margin-bottom:10% ;
  text-align: left;
}

.resume-link{
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  color: black;
  transition: .3s;
  position: relative;
}



.resume-link:hover .arrow {
  transform: translateX(30px);
  color: deepskyblue;
}

.arrow {
  position: absolute;
  top: 0%;
  right: -10%;
  transform: translateX(0);
  transition: transform 0.3s ease;
  width: 0;
  height: 0;
  
}



@media (min-width:609px){
  .background{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: %;
  }
  .about-right p{
    font-size: 95%;
  }
  .project-left{
    
  }
}

@media (min-width:768px){
  .about-right p{
    font-size: 1.3rem;
  }
}

.tailwind{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 42px;
  transition: .3s;
}

.tailwind:hover{
  transform: scale(1.2);
}


.about-ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10%;
}


.about-ul li{
  list-style-type:none ;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  transition: .3s;
}

.about-ul li:hover{
  transform: scale(1.2);
  color: deepskyblue;
}

.list-names{
  font-size: 10px;
  margin-top: 3%;
  text-align: center;
}

.right{
  margin-bottom:10%;
}

.project-left{
  gap: 5%;
  margin-bottom: 10%;
}

.projects-title{
  font-size: 2.2rem;
  font-weight: 400;
}

.job-desc{
  font-weight: 300;
  font-size: 1.115rem;
  margin-bottom:2% ;
}

.project-name{
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom:2%;
}

.project-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  
}

.skills-used{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: deepskyblue;
  color: white;
  padding: 0.26rem 0.69rem;
  margin: 0px 0.10rem 1rem 0px;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  border-radius: 10px;
  transition: .3s ease;
}

.skills-used:hover{
  background-color: white;
  outline: 1px solid deepskyblue;
  color:deepskyblue;
}

.project-desc{
  font-size: 1.2rem;
  font-weight: 300;
  margin: .7rem 0 1.3rem 0;
}




.view-project-btn{
  padding: 10px;
  width:135px;
  background-color: deepskyblue;
  color: white;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: .3s ease;
}

.view-project-btn:hover{
  background-color: white;
  outline: 1px solid deepskyblue;
  color:deepskyblue;
}

.project-right img{
  width: 100%;
  outline: 1px solid  deepskyblue;
  border-radius: 7px;
  transition: .4s ease;
}

.project-right img:hover{
  transform:scale(1.1) ;
}

@media (min-width:901px){
  .background{
    margin: 6%
  }
  .project-right {
    width:60%;
  }
}

footer{
  height:15vh;
  border-top:1px solid black;
  display:flex;
  align-items:center;
  justify-content:center;
}


.footer-container{
  width:90%;
  height:50%;
  display:flex;
  justify-content:space-between;
  
}

.footer-text p{
  font-size:0.7rem;
}

.footer-links a{
  
  font-size:1.4rem;
  margin:5px;
  text-decoration:none;
  list-style:none;
}


.empty-space{
  height:50%;
}

@media (miin-width: 768px){
  .empty-space{
    height:5%;
  }
}
